* {
    box-sizing: border-box;
}

html body {
    background-color: #232020e1;
    min-width: 500px;
    font-family: sans-serif;
}

#title {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ff7315;
    text-align: center;
    font-size: 3em;
}

#instructions {
    color: white;
}

.instruction {
    padding: 15px;
    margin: 10px 0;
}

.plus {
    color: #f67280;
    padding: 1rem 0;

}

.moins {
    color: #ffa372;
    padding: 1rem 0;

}

.fini {
    color: #0c9463;
    padding: 1rem 0;

}

.timer {
    width: 250px;
    margin: 0 auto;
    border: 1px solid black;
}
